<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>web</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<!--Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-start">
                <ul class="list-unstyled text-white">
                    <li class="ft"><b>Kontakt</b></li>
                    <li class="ft">Book House</li>
                    <li class="ft">Leipziger Straße 123</li>
                    <li class="ft">36039 Fulda</li>
                    <li class="ft">Telefon: 151293738</li>
                    <li class="ft">Mail: bookhouse@info.com</li>
                </ul>
            </div>

            <div class="col-md-4 d-flex justify-content-center">
                <div class="fw-bold d-flex align-items-center justify-content-center mb-2">
                    <a class="navbar-brand d-flex align-items-center" href="/#">
                            <span class="navbar-logo d-flex justify-content-center align-items-center me-7 bs-icon">
                                <img src="images/Logowhite.svg" alt="Book House Logo" class="footer-logo-img">
                            </span>
                    </a>
                </div>
            </div>

            <div class="col-md-4 d-flex justify-content-end">
                <ul class="list-unstyled text-white ">
                    <li class="ft"><b>Verantvortlich</b></li>
                    <li class="ft">Frau Marie Müller</li>
                    <li class="ft">E-mail: marie.müller@gmail.com</li>
                    <li class="ft">AGB</li>
                    <li class="ft">Impressum</li>
                    <li class="ft">Datenschutzhinweise</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <hr class="line">
        <div class="text-center text-white ft">
            <p class="mb-0 ft copy">Copyright © 2024 BookHouse</p>
        </div>
    </div>
</footer>

</body>
